<footer>
    <nav>
        <ul>
            <li>
                <small><a href="https://www.github.com/sovrin">kamlowski.com</a>, {{ site.year }}</small>
            </li>
        </ul>
    </nav>
</footer>
