<!DOCTYPE html>
<html data-theme="light" lang="de">
    <head>
        {{> head}}
        <title>Wichteln</title>
    </head>

    <body class="pa0 pt4 mh0">
        <section class="cf ph3">
            <main>
                {{{body}}}
            </main>
        </section>

        <footer class="ph0 mh0 mt4">
            {{> footer}}
        </footer>
    </body>
</html>
