<!DOCTYPE html>
<html data-theme="light" lang="de">
    <head>
        {{> head}}
    </head>

    <body>
        <section class="cf ph3">
            <main>
                {{{body}}}
            </main>
        </section>

        <footer>
            {{> footer}}
        </footer>
    </body>
</html>
